@model TripAdvisor.Models.TypeBienViewModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>TypeBienViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CodeTypeBien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CodeTypeBien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LibelleTypeBien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LibelleTypeBien)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdTypeBien }) |
    @Html.ActionLink("Back to List", "Index")
</p>
